<section class="vh-100 gradient-custom">

    <div class="containeradd">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
  <form [formGroup]="loginform" (ngSubmit)="login()">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your login and password!</p>

                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Email</label>
                  <input formControlName="username" type="email" id="typeEmailX" class="form-control form-control-lg" />
                  
                </div>
  
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typePasswordX">Password</label>
                  <input formControlName="password" type="password" id="typePasswordX" class="form-control form-control-lg" />
                  
                </div>
  
                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
             </form>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
